<package-def>
	<class name="РазборСтруктурыКонфигурации" file="src/РазборСтруктурыКонфигурации.os"/>
	<module name="ТипБлоковМодуля" file="src/Core/Модули/ТипБлоковМодуля.os"/>
	<module name="ТипМодуля" file="src/Core/Модули/ТипМодуля.os"/>
	<module name="ТипОбласти" file="src/Core/Модули/ТипОбласти.os"/>
</package-def>
